.box1{
  height: 100px;
  width: 200px;
  border: 1px solid black;
  background-color: red;
}
.box2{
  height: 100px;
  width: 200px;
  border: 1px solid black;
  background-color: purple;
}
.box3{
  height: 100px;
  width: 200px;
  border: 1px solid black;
  background-color: blue;
  
}
.color{
  cursor: pointer;
}

.in{
  height:300px ;
  width: 200px;
  border: 1px solid rgb(0, 0, 0);
  

}
.display{
    height: 300px;
    width: 200px; 
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.large{
    height: 400px;
    width: 400px;
    display: flex;
}
